@page
@model AboutModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Opis Lota</h1>
    <p>Loto 6 od 45 i Loto 7 od 39 su popularne igre na sreću koje pružaju igračima priliku da osvoje atraktivne novčane nagrade. Oba formata su jednostavna za igranje, a pravila se temelje na biranju određenog broja brojeva iz unapred definisanog skupa. accesskey</p> 

</div>
