@page
@model Lottery.Pages.Loto6Model

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loto 6 od 45</title>
</head>
<body>
    <h1>Loto 6 od 45</h1>
    
    <h2>Generisani brojevi:</h2>
    <ul>
        @foreach (var number in Model.RandomNumbers)
        {
            <li>@number</li>
        }
    </ul>
</body>
</html>
